{% extends "layout.html" %}
{% block body %}
<ul>
{% for dest in dests %}
    <li>
        <a href="{{ url_for('destinations.show', destination_id=dest.id) }}">
            {{ dest.city }}, {{ dest.country }}
        </a>
        <img src="{{ dest.photo }}" width="100"/>
        <a href="{{ url_for('destinations.edit', destination_id=dest.id) }}">
            Edit
        </a>
        <a href="{{ url_for('destinations.delete', destination_id=dest.id) }}">
            Delete
        </a>
    </li>
{% endfor %}
</ul>

<a href="{{ url_for('destinations.add') }}">Add one more</a>

{% endblock %}