{% extends "layout.html" %}
{% block body %}
<h1>{{ dest.city }}, {{dest.country }}</h1>
<img src="{{ dest.photo }}" />
<p>{{ dest.description }}</p>

<h2>Travelers:</h2>
<ul>
    {% for traveler in dest.users %}
    <li>{{ traveler.name }}</li>
    {% endfor %}
</ul>

<a href="{{ url_for('destinations.edit', destination_id=dest.id) }}">
    Edit
</a>
<a href="{{ url_for('destinations.delete', destination_id=dest.id) }}">
    Delete
</a>

<h2>Comments:</h2>
<form action="{{ url_for('destinations.comment_add') }}" method="post">
    {{ form.csrf_token }}
    {{ form.destination_id() }}
    {{ form.text.label }} {{ form.text() }}
    <button type="submit">Add comment</button>
</form>
{% for comment in dest.comments %}
<div>
    <span>{{ comment.created_by }}</span>, <span>{{ comment.created_at }}</span>
    <p>{{ comment.text }}</p>
</div>
{% endfor %}

{% endblock %}