{% extends "layout.html" %}
{% block body %}
<form action="" method=post>
    <h2>So, you are going to:</h2>
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.country.label }}
        {{ form.country(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.city.label }}
        {{ form.city(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.photo.label }}
        {{ form.photo(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }}
        {{ form.description(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.traveling_with.label }}
        {{ form.traveling_with(class_="form-control") }}
    </div>

    <button type="submit" class="btn btn-default">Add Destination</button>
</form>
{% endblock %}